# Variables requises pour restore_backup_to_vm.sh
export VM_NAME='Windows 11'
export BACKUP_SOURCE='\\\\Mac\\Home\\mon_dossier\\WindowsImageBackup'
export BACKUP_SUBDIR='MON-PC\\Backup 2026-02-16 124141'

# Variables requises pour reconstruct_disk.sh
# VM_NAME est partage avec le script precedent
export RECON_DIR='/chemin/vers/from-backup/reconstruction'
export RECON_SHARE='\\\\Mac\\Home\\from-backup\\reconstruction'
